@media only screen and (min-width: 768px) {
  div > #blog-show-header {
    font-size: 50px;
  }
}

#blog-show-header-image {
  position: absolute;
  width: 100vw;
  z-index: -1;
  top: 0;
  filter: blur(2px) drop-shadow(16px 16px 10px black) grayscale(75%);
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

#blog-show-header {
  margin-top: 85px;
  margin-bottom: 85px;
  font-size: 13vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#blog-show-main-container {
  width: 75%;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#blog-show-sub-container {
  border-radius: 10px;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}

#post-body {
  color: black;
}

#post-body > ul > li {
  flex: 0 0 auto !important;
  width: 100%;
  word-wrap: break-word;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
