@media only screen and (max-width: 768px) {
  #blog-list-grid {
    margin-top: 200px !important;
  }
}

#blog-list-header-image {
  position: absolute;
  width: 100vw;
  z-index: -1;
  top: 0;
  filter: blur(5px) drop-shadow(16px 16px 10px black);
  height: 300px;
  object-fit: cover;
  object-position: center;
}

#blog-list-header {
  margin-top: 85px;
  margin-bottom: 85px;
  font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#blog-list-grid {
  padding: 50px;
}

#create-blog-button {
  text-align: right;
}
