#blog-item-main-container {
  border-radius: 10px;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
}

#blog-item-sub-container {
  background-color: rgba(0, 0, 0, 0.67);
  border-radius: 10px;
}

#post-date {
  color: white;
  margin-top: 20px;
}
