img.transition {
  transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  opacity: 0;
}

img.transition.visible {
  opacity: 1;
}

.medium-header {
  display: none;
}

.grid-column {
  height: 100vh !important;
}

.grid-row {
  padding: 0px !important;
}

.background-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header-style {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.zero-padding {
  padding: 0 !important;
}

.project-grid {
  top: 0;
  margin: 0px !important;
  width: 100vw !important;
  height: 100vh !important;
}

.background-image {
  flex-shrink: 0;
  object-fit: cover;
  height: 100vh !important;
}

#project-background-grid {
  position: absolute;
  z-index: -2;
  padding: 0;
  height: 100% !important;
  top: -1px;
}

@media only screen and (max-width: 768px) {
  .medium-header {
    display: initial;
  }
  .large-header {
    display: none;
  }
}
