img.transition {
  transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  opacity: 0;
}

img.transition.visible {
  opacity: 1;
}
.mediumHeader {
  display: none;
}

@media only screen and (max-width: 812px) {
  .mediumHeader {
    display: initial;
  }
  .largeHeader {
    display: none;
  }
}
