picture.transition {
  transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  opacity: 0;
}

picture.transition.visible {
  opacity: 1;
}

.medium-header {
  display: none;
}

.home-header {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.background-grid-item {
  display: flex;
  overflow: hidden;
  margin: 0;
}

.background-image {
  height: 100vh !important;
  flex-shrink: 0;
  object-fit: cover;
}

.home-grid-column {
  padding: 0 !important;
}

.home-grid {
  top: 0;
  margin: 0px !important;
  width: 100vw !important;
  height: 100vh !important;
}

#home-background-grid {
  position: absolute;
  z-index: -2;
  padding: 0;
  top: -1px;
}

@media only screen and (max-width: 768px) {
  .medium-header {
    display: initial;
  }
  .large-header {
    display: none;
  }
}
