.ui.menu .ui.dropdown .menu > .item.custom {
  color: rgb(255, 255, 255) !important;
}

#headerMenu {
  display: none;
}

@media only screen and (max-width: 768px) {
  #headerMenu {
    display: initial;
  }
}
