.ui.menu .ui.dropdown .menu > .item.custom {
  color: rgb(255, 255, 255) !important;
}

#headerMenu {
  display: none;
}

#hamburger-menu {
  margin: 0;
}

#dropdown-menu {
  margin-left: 30px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.67);
}

@media only screen and (max-width: 768px) {
  #headerMenu {
    display: initial;
  }
}
