@media only screen and (max-width: 1000px) {
  #center-column {
    display: none;
  }
}

#footer-container {
  position: absolute;
  bottom: 0px;
  margin: 0px !important;
  width: 100vw !important;
}

#footer-segment {
  padding: 10px;
  padding-bottom: 0;
  background-color: rgba(89, 89, 89, 0.8);
}

#footer-grid {
  width: 100vw;
}

#second-column {
  padding-left: 0px !important;
  padding-right: 3px !important;
}

.contact-divider {
  height: 8px !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.zero-margin {
  margin: 0rem;
}

.footer-nav-menu-item {
  color: white;
  padding-left: 10px;
}

.padding-five {
  padding: 5;
}

.footer-contact-item {
  color: white;
  cursor: pointer;
  word-wrap: break-word;
}
