@media only screen and (max-width: 768px) {
  #home-button-menu-item {
    display: none;
  }
}

#home-button-menu {
  position: fixed;
  top: 0;
  right: 0;
}

#home-button-menu-item {
  cursor: pointer;
}
