@media only screen and (max-width: 768px) {
  #headerMenu {
    display: initial !important;
  }

  #resume,
  #email {
    display: none;
  }
}

.ui.menu .ui.dropdown .menu > .item.custom {
  color: rgb(255, 255, 255) !important;
}

#headerMenu {
  display: none;
}

#hamburger-menu {
  left: 4px;
  top: 2px;
  margin: 0;
}

#dropdown-menu {
  margin-left: 30px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.67);
}
