.App {
  text-align: center;
  padding-bottom: 95px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

#main {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
